<div>
<h1>WELCOME <%= current_user.name%></h1>


<%  if current_user.employer? %>

    <h1>Hello Employer</h1>
    
   
    <%= button_to "Sign out", destroy_user_session_path, :method => :delete %>
<%  else current_user.applicant? %>
    <h1>Hello Applicant</h1>
    

    <%= button_to "Sign out", destroy_user_session_path, :method => :delete %>

<% end %>
</div>